/*      GENERAL     */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #222222;
    color: #ffffff;
    overflow-y: scroll;
}

/* HEADER */

#header{
    background-color: #3C3C3C;
    box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.35);
    height: 75px;
    padding: 5px 0;
    width: 98%;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: all 0.2s ease;
    border-radius: 25px;
    margin: 1%;
    z-index: 2;
}

#header.shrink{
    background-color: #3c3c3cba;
    box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.4);
    height: 55px;
}

#header.shrink:hover{
    background-color: #3C3C3C;
    box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.35);
}

#header_group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

#header_group_img{
    width: 50px;
    height: 50px;
    transition: all 0.2s ease;
}

#header_group_img.shrink{
    width: 35px;
    height: 35px;
}

#header_group_h1{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 15px;
    transition: all 0.2s ease;
}

#header_group_h1.shrink{
    font-size: 1rem;
}

#header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 15px;
    background-color: #2C2C2C;
    border-radius: 15px;
}

#hover_square{
    z-index: 0;
    position: absolute;
    width: 134px;
    height: 54px;
    background-color: transparent;
    border-radius: 15px;
    transform: translateX(0);
    transition: 250ms;
}

#hover_square.shrink{
    height: 44px;
}

#header a{
    border: 2px solid transparent;
    color: #ffffff;
    text-decoration: none;
    transition: 200ms;
    font-size: 1rem;
    padding: 15px 25px;
    border-radius: 15px;
    width: 80px;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
}

#header a:hover{
    transition: 250ms;
    color: #ffffff;
}

#header a:hover ~ #hover_square{
    background-color: #2AA4FE;
}

#header_a1:hover ~ #hover_square{
    transform: translateX(-134px);
}

#header_a3:hover ~ #hover_square{
    transform: translateX(134px);
}

#header_a1.shrink, #header_a2.shrink, #header_a3.shrink{
    padding: 10px 25px;
}

#header_text{
    transition: 250ms;
}

/* GALERIE */

#galerie{
    width: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#me{
    margin-top: 50px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#me_left{
    width: 600px;
}

#me_left h1{
    font-family: Inter;
    font-size: 3rem;
    font-weight:500;
    text-shadow: 5px 5px 5px #3C3C3C;
}

#me_left h3{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.15rem;
    text-shadow: 2px 2px 5px #3C3C3C;
}

#me_left p{
    margin: 30px 15px 30px 0 ;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height : 1.5;
    background-color: #2C2C2C;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 
        1px 1px 0 #4C4C4C,
        0px -4px 10px 0px #00000040;
    color: #ffffff;
    width: 525px;
}

#socials{
    display: flex;
}

#socials button, #socials a, .view-projet, .view-code{
    border-radius: 15px;
    border: #2AA4FE 3px solid;
    background-color: transparent;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;
    text-decoration: none;
    box-shadow: 
        1px 1px 0 #4C4C4C, 
        2px 2px 0 #4C4C4C, 
        3px 3px 0 #4C4C4C, 
        4px 4px 0 #4C4C4C, 
        5px 5px 0 #4C4C4C,
        0px -4px 10px 0px #00000040;
}

#socials a:first-child, .view-projet, .view-code{
    width: 225px;
    height: 45px;
    color: #2AA4FE;
    font-weight: 900;
    font-size: 1.1rem;
}

#socials a img{
    width: 20px;
    transform: rotate(-90deg);
    transition: 250ms;
    margin-left: 5px;
}

#socials a:hover img{
    margin-left: 15px;
}

#linkedin_svg{
    width: 50px;
    margin-left: 15px;
    background-image: url(Icones/linkedin.svg);
}

#github_svg{
    width: 50px;
    margin-left: 15px;
    background-image: url(Icones/github.svg);
}

#socials a:hover, #socials button:hover, .view-projet:hover, .view-code:hover{
    cursor: pointer;
    transition: 250ms;
    background-color: #2C2C2C;
    color: #2AA4FE;
    border: #2C2C2C 3px solid;
}

#me_right{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    margin-left: 15px;
    border: 3px solid #2C2C2C;
    background-color: #222222;
    background-image: url(Images/moi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 0 #4C4C4C, 2px 2px 0 #4C4C4C, 3px 3px 0 #4C4C4C, 4px 4px 0 #4C4C4C, 5px 5px 0 #4C4C4C;
}

/* PROJETS */

#projets{
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 40px 0;
}

#projets h1{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    margin: 45px 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #4C4C4C, 2px 2px 0 #4C4C4C, 3px 3px 0 #4C4C4C, 4px 4px 0 #4C4C4C;
}

#projet_container_box{
    margin: 15px 0 0 0;
}

#projet_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    width: 1155px;
    min-height: 250px;
    padding: 20px;
    box-sizing: border-box;
}


/* PROJETS BOX */

.projet{
    background-color: #4E4E4E;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: 150ms;
    width: 345px;
    height: auto;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
}

.projet:hover{
    transform: scale(1.05);
}

.projet_titre_contexte{
    position: absolute;
    z-index: 1;
    color: #ffffff;
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 2px 0px 15px 5px #2a2a2ab1;
}

.projet_titre_contexte h4{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 15px;
    font-size: 0.9rem;
}

.projet_img{
    width: 335px;
    height: 215px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 5px 5px 5px;
}

/*  Projet img slides    */

/*
#de_vinyles{animation: slideImagesDeVinyles 8s infinite ease;}
@keyframes slideImagesDeVinyles {
    0% {background-image: url('Images/De_vinyles.png');}
    33.33% {background-image: url('Images/De_vinylesV2.png');}
    66.66% {background-image: url('Images/De_vinylesV3.png');}
    100% {background-image: url('Images/De_vinyles.png');}
}

#cocktails{animation: slideImagesCocktails 8s infinite ease-in;}
@keyframes slideImagesCocktails {
    0% {background-image: url('Images/Cocktails.png');}
    33.33% {background-image: url('Images/CocktailsV2.png');}
    66.66% {background-image: url('Images/CocktailsV3.png');}
    100% {background-image: url('Images/Cocktails.png');}
}
    */

#projet_container h1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0px 20px;
}

.projet p{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.75;
    padding: 5px 20px;
    padding-bottom: 10px;
}

.projet ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 500;
}

.projet_type, .projet_contexte{
    padding: 5px 10px;
    border-radius: 125px;
    font-size: 0.85rem;
    font-weight: 400;
    display: inline-block;
    background-color: #2C2C2C;
}

.projet_view{
    text-transform: uppercase;
    background-color: #2AA4FE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.projet_view p{
    padding: 2.5px 25px;
    font-size: 0.75rem;
    font-family: Inter;
    opacity: 1;
    text-align: center;
}

.projet_desc{
    display: flex;
    gap: 5px;
    padding: 5px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.lang_box_circle{
    width: 5px;
    height: 5px;
}

.projet_desc p{margin-right: 10px;}

/* LANGUAGES ET TAGS */

#Back-end{border: 3px solid #6E5494}

#C2{border: 3px solid #800080}

#CSS{border: 3px solid #1574BC}

#Cybersécurité{border: 3px solid #1c73ff}

#D3JS{border: 3px solid #f69c4d;}

#Developpement-app{border: 3px solid #f97316}

#Developpement-web{border: 3px solid #aa86ff}

#DevSecOps{border: 3px solid #C9510C}

#Digitalisation{border: 3px solid #6A6A6A}

#Dockerfile, #Docker{border: 3px solid #2496ED}

#Figma{border: 3px solid #0ACF83}

#Front-end{border: 3px solid #61DBFB}

#FullStack{border: 3px solid #67B1D9;}

#HTML{border: 3px solid #F35C2B}

#JavaScript{border: 3px solid #FBB343}

#Kubernetes {border: 3px solid #326CE5}

#Linux{border: 3px solid #FCC624}

#Minikube {border: 3px solid #FFCC00}

#MySQL {border: 3px solid #4479A1}

#NodeJS {border: 3px solid #43853D}

#PHP{border: 3px solid #807cb4;}

#Power_Apps{border: 3px solid #742774;}

#Power_Automate{border: 3px solid #0086D1}

#Power_Bi{border: 3px solid #F2C811;}

#Projet_scolaire{border: 3px solid #22c55e;}

#Projet_perso{border: 3px solid #f97316;}

#Python{border: 3px solid #3776AB}

#Responsive{border: 3px solid #2D9CDB}

#SharePoint{border: 3px solid #0078D4;}

#Stage{border: 3px solid #9ca3af;}

#SQL{border: 3px solid #08bcf4;}

#undefined{opacity: 0;}

#UX-UI{border: 3px solid #FF6F61}

#Visualisation-Data{border: 3px solid #38bdf8;}

#YAML{border: 3px solid #CB171E}

.projet ul li{
    margin-right: 5px;
}

/* POPUP PROJETS BOX */

.no-scroll{
    overflow: hidden;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup-background.show {
    display: flex;
    opacity: 1;
}
  
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.popup.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

  
.popup-content {
    background: #3C3C3C;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    position: relative;
    color: #ffffff;
    height: 90vh;
    transform: scale(1);
    transition: transform 0.3s ease;
    margin: 0 5px;
}

.popup-content-inner {
    overflow-y: auto;
    max-height: 100%;
    border-radius: inherit;
}

.popup-header{
    display: flex;
}

.popup-header-title{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 10px;
    min-width: 275px;
}

.popup-content-icone{
    height: 65px;
    width: 65px;
}

.popup-header-ligne{
    height: 2.75px;
    width: 60%;
    background-color: #ffffff;
    margin: 5px 0;
}
  
.popup-content h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
}
  
.popup-content p {
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.75;
}

.popup-detail{
    margin-top: 25px;
    background-color: #222222;
    border-radius: 10px;
    overflow-y: auto;
    max-height: calc(90vh - 85px);
    margin-top: 20px;
}

.popup-detail::-webkit-scrollbar {
    width: 12px;
}

.popup-detail::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 15px;
}

.popup-detail::-webkit-scrollbar-thumb {
    background: #2AA4FE;
    border-radius: 10px;
    border: 3px solid #2C2C2C;
}

.popup-detail::-webkit-scrollbar-thumb:hover {
    background: #2aa6fe91;
}

.popup-tags{
    display: flex;
    margin: 15px;
}

.popup-tags p{
    padding: 5px 10px;
    border-radius: 125px;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 1;
    margin-right: 10px;
}

.popup-detail-inner{
    display: flex;
}

.popup-detail-img{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-height: 450px;
    justify-content: center;
    align-items: center;
}

.popup-main-image{
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 200ms ease-in-out;
    box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.35);
    cursor: pointer;
}
  
.popup-mini-images img{
    width: 50px;
    height: 30px;
    margin: 7.5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid #3C3C3C;
    transition: 200ms;
}

.popup-mini-images img:first-child{
    border: 3px solid #2AA4FE;
    border-radius: 10px;
}

.popup-mini-images img:hover{
    border: 3px solid #2aa6fea9;
    cursor: pointer;
    border-radius: 10px;
    transition: 200ms ease-in-out;
    transform: scale(1.2);
}

.popup-detail-desc{
    width: 38%;
}

.popup-detail-desc p{
    padding: 15px;
    text-align: left;
}

.buttons-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-projet, .view-code{
    margin:  15px;
    width: 200px;
    height: 40px;
}

.view-code{
    background-color: #222222;
    color: #2AA4FE;
}

.popup-detail-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 50px;
}

.popup-detail-lang p{
    opacity: 1;
}

.language_pourcentage{
    margin-top: 10px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.language_pourcentage p{
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    font-size: 0.75rem;
}

.language_barre{
    width: 75px;
    height: 5px;
    background-color: #3C3C3C;
    border-radius: 20px;
}

.language_barre_det{
    height: 5px;
    border-radius: 20px;
}
  
.close-btn {
    width: 30px;
    height: 30px;
    background-color: #2AA4FE;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTACT */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    background-image: url(Images/waves2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#contact_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
}

#contact h1{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    margin: 75px 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #4C4C4C, 2px 2px 0 #4C4C4C, 3px 3px 0 #4C4C4C, 4px 4px 0 #4C4C4C;
}

#contact_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact_container_box{
    border: #2AA4FE 3px solid;
    background-color: #4C4C4C;
    width: 350px;
    height: 50px;
    margin: 15px;
    padding: 5px 10px 5px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 250ms;
    box-shadow: 
        1px 1px 0 #4C4C4C, 
        2px 2px 0 #4C4C4C, 
        3px 3px 0 #4C4C4C, 
        4px 4px 0 #4C4C4C, 
        5px 5px 0 #4C4C4C,
        0px -4px 10px 0px #00000050;
}

#contact_container_box:hover{
    background-color: #2C2C2C;
    color: #2AA4FE;
    border: #2C2C2C 3px solid;
}

#contact_container_box:hover #contact_det p{
    color: #2AA4FE;
    text-decoration: none;
}

.contact_container_img{
    width: 45px;
    height: 45px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 250ms;
}

#contact_container_telephone{background-image: url(Icones/telephone.svg);}

#contact_container_mail{background-image: url(Icones/mail.svg);}

#contact_container_localisation{background-image: url(Icones/localisation.svg);}

#contact_container_linkedin{background-image: url(Icones/linkedin.svg);}

#contact_container_github{background-image: url(Icones/github.svg);}

#contact_det{
    margin-left: 15px;
    width: 350px;
}

#contact_det h2{
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
}

#contact_det p{
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: 250ms;
}

#contact_container_box button{
    width: 30px;
    background-color: transparent;
    border: none;
    transition: 250ms;
}

#contact_container_box button img{
    width: 25px;
}

#contact_container_box:hover, #contact_container_box button:hover{
    cursor: pointer;
}

#version p{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*  DARK MODE   */

body.dark-mode{
    background-color: #ffffff;
}

/* RESPONSIVE */

@media(max-width: 1250px){
    .popup-detail-img{margin-left: 20px;}
    .popup-detail-desc{width: 350px;margin-left: 40px;}

}

@media(max-width: 1195px){
    #projet_container{width: 770px;}
}

@media(max-width: 1050px){
    .popup-tags{flex-wrap: wrap; margin: 10px;}
    .popup-tags p{margin: 5px;}
    .popup-detail-inner {display: flex;flex-direction: column;}
    .popup-detail-img{width: auto;margin: 0;}
    .popup-main-image{margin: 0;}
    .popup-detail-desc{width: auto; margin: 0 15px;}
}

@media(max-width: 1020px){
    #me_left {width: 450px;}
    #me_left p{width: 400px;}
}

@media(max-width: 832px){
    #me{flex-direction: column-reverse;height: 750px;}
    #me_right{height: 295px;width: 295px;margin: 60px 0 50px 0;}
    #me_left{text-align: center;}
    #me_left p{padding: 15px;width: 415px;}
    #socials{justify-content: center;}
    #projets{padding-top: 150px;padding-bottom: 50px;}
}

@media(max-width: 800px){
    #projet_container{width: 600px;}
    .projet{width: 245px;height: auto}
    .projet_img{width: 235px;height: 151px;}
    #projet_container h1{font-size: 1.25rem;}
    .projet ul{flex-direction: column;}
    .projet ul li{margin-left: 0px;margin-bottom: 10px;}
    .projet ul li:last-child{visibility: hidden;position: absolute;}
    .projet p{padding-bottom: 10px;height: 36px;}
    .projet_desc{margin-left: 0px;justify-content: center;align-items: center;}
    .projet_view{height: 20px;}
}

@media(max-width: 750px){
    #header a{width: 60px;font-size: 0.8rem;padding: 15px;}
    #header_a1.shrink, #header_a2.shrink, #header_a3.shrink{padding: 10px 15px;}
    #hover_square{width: 94px;height: 49px;}
    #hover_square.shrink{height: 39px;}
    #header_a1:hover ~ #hover_square{transform: translateX(-94px);}
    #header_a3:hover ~ #hover_square{transform: translateX(94px);}
}

@media(max-width: 700px){
    .popup-main-image{width: 80%}
    .popup-detail-lang{gap: 0px;margin: 30px 0;}
    .popup-detail-lang p{width: 90px;}
}

@media(max-width: 600px){
    #projet_container{width: 290px;}
    .projet{width: 245px;height: auto;max-height: 350px}
    .projet_img{width: 235px;height: 151px;}
    #projet_container h1{font-size: 1.25rem;}
    .projet ul{flex-direction: column;}
    .projet ul li{margin-left: 0px;margin-bottom: 10px;}
    .projet ul li:last-child{visibility: hidden;position: absolute;}
    .popup-header{flex-direction: column;align-items: center;justify-content: center;}
    .popup-content-icone{margin-bottom: 15px;}
    .popup-header-title{display: flex;align-items: center;}
    .popup-detail{max-height: calc(82vh - 180px);}
    .close-btn{margin-top: 0px;}
    .projet p{padding-bottom: 10px;height: auto;}
}

@media(max-width: 550px){
    #header_group{margin-right: 0;}
    #header_group h1{opacity: 0; width: 0; height: 0;}
    #header_group img{position: absolute;left: 20px;}
    header ul{position: fixed;left: calc(25% - 15px);}
    #header_group_img{width: 35px;height: 35px;}
    #header{height: 55px;}

    #header a{padding: 10px 15px;}
    #hover_square{height: 39px;}

    #me{height: 650px;margin-top: 0px;}
    #me_right{width: 200px;height: 200px;margin: 50px 0 50px 0;}
    #me_left{width: 350px;display: flex;flex-direction: column;align-items: center;}
    #me_left h1{font-size: 2.5rem;}
    #me_left h3{width: 300px;}
    #me_left p{width: 315px;font-size: 0.8rem;}

    #socials a:first-child, .view-projet, .view-code{width: 160px; font-size: 0.9rem;height: 35px;border: #2AA4FE 2px solid;}
    #socials button, #socials a{height: 40px; font-size: 0.9rem;}
    #socials button:last-child, #socials button:nth-child(2){width: 40px;height: 40px;}

    #projets h1{font-size: 1.75rem;}
    #projet_container h1{font-size: 1.2rem;}

    .popup-content{max-height: 80vh;height: 800vh;}
    .popup-header{margin-top: 20px;}
    .popup-detail{max-height: calc(82vh - 200px);}
    .popup-content p{text-align: left;}
    .popup-tags p{font-size: 0.8rem;}
    .language_projet p{text-align: center;}
    .buttons-footer{flex-direction: column;}

    #contact h1{font-size: 1.75rem;}
    #contact_container_box{width: 300px;}
    .contact_container_img{width: 50px;height: 35px;}
    #contact_container_box h2{font-size: 1rem;}
    #contact_container_box p{font-size: 0.8rem;}
    #contact_container_box button img {width: 20px;}
}

@media(max-width: 465px){
    #projets h1{width: 300px;text-align: center;}
    #projet_container h1{font-size: 1.2rem;width: auto;text-align: left;margin:0;}
}

@media(max-width: 420px){
    .popup-detail{max-height: calc(82vh - 200px);}
    .popup-detail-lang{width: 100%;flex-direction: column;}
    .language_projet{margin: 10px 0;}
}